@charset "UTF-8";

:root{
    
      /*pelata de cores*/
      --verde: #49a09d;
      --lilás: #5f2c82;

}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--lilás);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    transition: width .1s, height .1s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--lilás) url(../img/pexels-victor-freitas-841130.jpg) no-repeat;
    background-size: cover;
    height: 180px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}
